## Task 6.1
#### 1. Source of open data
#### 2. Data quality and consistency check
#### 3. Basic Descriptive statistics

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

#### 1. Source of open data

In [2]:
path=r"C:\Users\acisk\Dropbox\My PC (DESKTOP-SO8P63N)\Desktop\Data Analytics\Achievement 6 Project- Advanced Analytics & Dashboard Design"

In [3]:
df_fifa21= pd.read_csv(os.path.join(path, 'players_ratings21.csv'), index_col = False)

In [4]:
df_fifa21.shape

(18944, 106)

In [5]:
df_fifa21.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andr��s Messi Cuccit,33,24/06/1987,170,72,Argentina,FC Barcelona,...,66+3,65+3,65+3,65+3,66+3,62+3,52+3,52+3,52+3,62+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,35,05/02/1985,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,54+3,54+3,54+3,61+3
2,200389,https://sofifa.com/player/200389/jan-oblak/210002,J. Oblak,Jan Oblak,27,07/01/1993,188,87,Slovenia,Atl��tico Ma,...,32+3,36+3,36+3,36+3,32+3,32+3,33+3,33+3,33+3,32+3
3,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,31,21/08/1988,184,80,Poland,FC Bayern M��n,...,64+3,65+3,65+3,65+3,64+3,61+3,60+3,60+3,60+3,61+3
4,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos J��,28,05/02/1992,175,68,Brazil,Paris Saint-Germain,...,67+3,62+3,62+3,62+3,67+3,62+3,49+3,49+3,49+3,62+3

In [6]:
print(df_fifa21.columns.tolist())

['sofifa_id', 'player_url', 'short_name', 'long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club_name', 'league_name', 'league_rank', 'overall', 'potential', 'value_eur', 'wage_eur', 'player_positions', 'preferred_foot', 'international_reputation', 'weak_foot', 'skill_moves', 'work_rate', 'body_type', 'real_face', 'release_clause_eur', 'player_tags', 'team_position', 'team_jersey_number', 'loaned_from', 'joined', 'contract_valid_until', 'nation_position', 'nation_jersey_number', 'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning', 'player_traits', 'attacking_crossing', 'attacking_finishing', 'attacking_heading_accuracy', 'attacking_short_passing', 'attacking_volleys', 'skill_dribbling', 'skill_curve', 'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control', 'movement_acceleration', 'movement_sprint_speed', 'movement_agility', 'movement_reactions', 'movement_balance', 'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots', 'mentality_aggression', 'mentality_interceptions', 'mentality_positioning', 'mentality_vision', 'mentality_penalties', 'mentality_composure', 'defending_marking', 'defending_standing_tackle', 'defending_sliding_tackle', 'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking', 'goalkeeping_positioning', 'goalkeeping_reflexes', 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb']

In [69]:
# Selecting the needed columns
df_fifa21_new = df_fifa21[['sofifa_id', 'age', 'height_cm', 'weight_kg', 'nationality',
       'club_name', 'league_name', 'league_rank', 'overall',
       'value_eur', 'wage_eur', 'player_positions', 'preferred_foot',
       'international_reputation', 'weak_foot', 'skill_moves', 'work_rate', 'team_position', 'team_jersey_number', 'joined',
       'contract_valid_until']]

In [8]:
df_fifa21_new.columns

Index(['sofifa_id', 'age', 'height_cm', 'weight_kg', 'nationality',
       'club_name', 'league_name', 'league_rank', 'overall', 'value_eur',
       'wage_eur', 'player_positions', 'preferred_foot',
       'international_reputation', 'weak_foot', 'skill_moves', 'work_rate',
       'team_position', 'team_jersey_number', 'joined',
       'contract_valid_until'],
      dtype='object')

#### 2. Data quality and consistency check

In [40]:
#Rename overall column to player_rating
df_fifa21_new.rename(columns={'overall': 'player_rating'}, inplace=True)

C:\Users\acisk\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [43]:
#Checking for mixed data types
for col in df_fifa21_new.columns.tolist():
  weird = (df_fifa21_new[[col]].applymap(type) != df_fifa21_new[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_fifa21_new[weird]) > 0:
    print (col)

club_name
league_name
team_position
joined

In [44]:
df_fifa21_new['team_position'].dtypes

dtype('O')

In [45]:
df_fifa21_new['team_position'].dtypes

dtype('O')

In [46]:
#Check missing values
df_fifa21_new.isnull().sum()

sofifa_id                     0
age                           0
height_cm                     0
weight_kg                     0
nationality                   0
club_name                   225
league_name                 225
league_rank                 225
player_rating                 0
value_eur                     0
wage_eur                      0
player_positions              0
preferred_foot                0
international_reputation      0
weak_foot                     0
skill_moves                   0
work_rate                     0
team_position               225
team_jersey_number          225
joined                      983
contract_valid_until        225
dtype: int64

In [47]:
df_fifa21_missing= df_fifa21_new[df_fifa21_new.isnull()== True]

In [48]:
# Dropping the columns joined
df_fifa_drop= df_fifa21_new.drop(['joined'], axis= 1)

In [49]:
#Check if its effective
df_fifa_drop.shape

(18944, 20)

In [50]:
#Drop rows with missing values
df_fifa_clean= df_fifa_drop.dropna()

In [51]:
df_fifa_clean.shape

(18719, 20)

In [52]:
#Checking for duplicate
df_fifa21_dups = df_fifa_clean[df_fifa_clean.duplicated()]

In [53]:
df_fifa21_dups

Empty DataFrame
Columns: [sofifa_id, age, height_cm, weight_kg, nationality, club_name, league_name, league_rank, player_rating, value_eur, wage_eur, player_positions, preferred_foot, international_reputation, weak_foot, skill_moves, work_rate, team_position, team_jersey_number, contract_valid_until]
Index: []

In [54]:
df_fifa_clean['club_name'].dtypes

dtype('O')

In [55]:
df_fifa_clean.shape

(18719, 20)

#### 3. Basic Descriptive statistics

In [56]:
df_fifa_clean.describe()

,sofifa_id,age,height_cm,weight_kg,league_rank,player_rating,value_eur,wage_eur,international_reputation,weak_foot,skill_moves,team_jersey_number,contract_valid_until
count,18719.000000,18719.000000,18719.000000,18719.000000,18719.000000,18719.000000,1.871900e+04,18719.000000,18719.000000,18719.000000,18719.000000,18719.000000,18719.000000
mean,226210.152198,25.177787,181.190074,75.006945,1.357070,65.635023,2.251555e+06,8780.135157,1.091832,2.935787,2.362680,20.589668,2021.983332
std,27192.890940,4.682187,6.819258,7.053984,0.739327,7.003908,5.127193e+06,19749.383757,0.362167,0.666895,0.765856,17.057568,1.260426
min,41.000000,16.000000,155.000000,50.000000,1.000000,47.000000,0.000000e+00,500.000000,1.000000,1.000000,1.000000,1.000000,2020.000000
25%,210019.500000,21.000000,176.000000,70.000000,1.000000,61.000000,3.000000e+05,1000.000000,1.000000,3.000000,2.000000,9.000000,2021.000000
50%,232285.000000,25.000000,181.000000,75.000000,1.000000,66.000000,6.500000e+05,3000.000000,1.000000,3.000000,2.000000,18.000000,2022.000000
75%,246719.500000,28.000000,186.000000,80.000000,1.000000,70.000000,1.800000e+06,8000.000000,1.000000,3.000000,3.000000,27.000000,2023.000000
max,258970.000000,53.000000,206.000000,110.000000,4.000000,93.000000,1.055000e+08,560000.000000,5.000000,5.000000,5.000000,99.000000,2028.000000

In [57]:
df_fifa_clean['club_name'].describe()

count                 18719
unique                  681
top       Tottenham Hotspur
freq                     33
Name: club_name, dtype: object

In [68]:
df_fifa_clean['contract_valid_until'].value_counts()

2021.0    6808
2022.0    4341
2023.0    3393
2024.0    2173
2020.0    1453
2025.0     544
2026.0       5
2028.0       1
2027.0       1
Name: contract_valid_until, dtype: int64

In [70]:
#Exporting the clean data
df_fifa_clean.to_csv(os.path.join(path, 'Data','Prepared Data', 'FIFA21_ratings.csv'))